<!-- About Mulleres Tech Section -->
<section id="about-mulleres-tech" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <br/><br/>
          <h2 class="section-heading">Sobre Mulleres Tech</h2>
          <br/>
            <p class="lead"><strong>Mulleres Tech es una comunidad sin ánimo de lucro creada para dar visibilidad a las mujeres que se dedican a la tecnología en Aragón de forma profesional o aficionada.</strong></p>
            <p class="lead">Esta asociación surge impulsada por un colectivo de mujeres preocupadas por la escasa presencia femenina en el sector tecnológico, que mediante acciones como esta quiere fomentar la participación activa de las mujeres en la tecnología y servir como referente e inspiración a las más jóvenes.</p>
            <br/>
          </div>
    </div>
</section>
