<!-- Footer -->
<footer>
    <div class="container">
        <!--
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about-mulleres-tech">Sobre Mulleres Tech</a>
                    </li> 
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#our-goals">Nuestros objetivos</a>
                    </li> 
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        -->
        <div class="row text-center">
            <div class="col-lg-12 col-md-12">
                <!--
                <ul class="list-inline">
          <li>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <span class="wtm-highlight">#wtmz17</span>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
    -->
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_account }}" target="_blank" class="btn btn-lg"><i class="fa fa-twitter fa-fw fa-lg"></i> <span class="network-name">TWITTER</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/{{ site.github_account }}" target="_blank" class="btn btn-lg"><i class="fa fa-github fa-fw fa-lg"></i> <span class="network-name">GITHUB</span></a>
                        </li>
                        <li>
                            <a href="mailto:{{ site.email }}" target="_blank" class="btn btn-lg"><i class="fa fa-envelope-o fa-fw fa-lg"></i> <span class="network-name">E-MAIL</span></a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr class="intro-divider">
                <p class="copyright">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
            </div>
        </div>
    </div>
</footer>
